$back-color: #F0F0F0;
$green-border: #72B372;

@mixin linear-gradient($top, $bottom) {
	background: $top;
	background: -webkit-linear-gradient($top, $bottom);
	background: -moz-linear-gradient($top, $bottom);
	background: -o-linear-gradient($top, $bottom);
	background: linear-gradient($top, $bottom);
}

.main>div {
	display: inline-block;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -100px;
	background-color: white;
}

.register {
	opacity: 2;
	width: 400px;
	height: max-content;
	margin: 10px auto;
	border-radius: 10px;
	padding: 25px;
	border-radius: 25px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: white;

	h3 {
		margin: 10px 15px 20px;
		padding: 5px 10px 5px 0;
		font-size: 1.1em;
		margin-bottom: 0rem;
		//border-bottom: 2px solid $green-border;
	}

	div {
		margin: 0 0 15px 0;
		border: none;
		text-align: center;
		margin-top: 1rem;
	}

	label {
		display: inline-block;
		width: 50%;
		font-size: small;
		text-align: left;
		padding-right: 3%;
		margin: 10px;
	}

	input[type=text],
	input[type=date] {
		width: 50%;
		outline: none;
		border-radius: 10px;
		padding: 5px;
		box-shadow: 0px 2px 5px grey;
		border: blue;
	}

	textarea {
		width: 50%;
		height: max-content;
		outline: none;
		border-radius: 10px;
		box-shadow: 0px 2px 5px grey;
		border: none;
	}

	input[type=text] {
		width: 50%;
		outline: none;
		border-radius: 10px;
		padding: 5px;
		box-shadow: 0px 2px 5px grey;
		border: blue;
	}

	input[type=text]:focus {
		background: rgb(193, 222, 231);
	}

	.button {
		font-size: small;
		font-weight: 200;
		border-radius: 13px;
		color: #000000;
		width: 80px;
		padding: 7px;
		float: left;
		margin-right: 0.7rem;
		margin-left: 0.5rem;
		margin-top: 1.2rem;
		border: 1px solid rgb(185, 217, 228);
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		@include linear-gradient(#96d0d4, #94d7db);

	}
}

.notification-email {
	width: 700px;
}


.notification-button {
	font-size: small;
	font-weight: 200;
	border-radius: 13px;
	color: #000000;
	width: max-content;
	padding: 7px;
	float: left;
	margin-right: 0.7rem;
	margin-left: 0.5rem;
	margin-top: 1.2rem;
	border: 1px solid rgb(185, 217, 228);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	@include linear-gradient(#96d0d4, #94d7db);
}

.align-email-contents-notification {
	display: flex;
	width: 100%;
	align-items: stretch;
	height: 350px;
	margin-top: 25px;

	.email-notification-form {
		flex-grow: 1;
		display: flex;
		flex-direction: column;

		.row-1 {
			width: 100%;

			.email-label {
				display: inline-block;
				width: 10%;
			}

			.email-input {
				width: 85%;
				padding: 2px 2px;
				margin: 4px 0px;
				border-radius: 5px;

				// box-shadow: none;
				select {
					padding: 2px 0px;
					display: inline-block;
				}

				.email-icons {
					vertical-align: middle;
					margin: 0px 5px;

					i {
						margin: 0px 10px;
					}

					i:last-child {
						float: right;
					}
				}
			}

			.email-notification-textarea {
				margin: 0px 76px;
				height: 250px;

			}

			.style-email-icons {
				display: inline-block;
			}


		}
	}

	.email-contents-variables {
		display: flex;
		flex-direction: column;
		flex-grow: 1;

		input {
			width: 80%;
			margin: 6px 6px;
			padding: 6px 6px;
			border-radius: 5px;
		}

		i {
			vertical-align: middle;
		}

		.align-search-icon {
			font-size: 1.8rem;
		}
	}


}

.basic-single {
	background-color: #72B372;
	height: 10px;
	width: 400px;
	border: 1px solid black !important;
}

.label-bdm {
	font-size: 1rem !important;

	.label-bdm-input {
		vertical-align: middle;
		-webkit-appearance: none;
		appearance: none;
		width: 1.2em;
		height: 1.2em;
		border-radius: 0.15em;
		margin-right: 0.5em;
		border: 0.15em solid #007a7e;
		outline: none;
		cursor: pointer;
		color: black;
	}

	.checkit::before {
		content: "\2713";
		font-size: 1rem;
		color: #fff;
		position: absolute;
		right: 1px;
		top: -5px;
	}

	.checkit {
		background-color: #007a7e;
		position: relative;
	}
}

.container {
	max-width: 220px;
	position: relative;
	left: 90px;

}

.select-btn {
	display: flex;
	height: 30px;
	align-items: center;
	justify-content: space-between;
	padding: 0 16px;
	border-radius: 8px;
	cursor: pointer;
	background-color: #fff;
	box-shadow: 0px 2px 5px grey;
	border: blue;
}

.select-btn .btn-text {
	font-size: 13px;
	font-weight: 400;
	color: #333;
}

.select-btn .arrow-dwn {
	display: flex;
	height: 21px;
	width: 21px;
	color: black;
	font-size: 14px;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	transition: 0.3s;
}

.select-btn.open .arrow-dwn {
	transform: rotate(-180deg);
}

.list-items {
	position: relative;
	margin-top: 15px;
	border-radius: 8px;
	padding: 16px;
	background-color: #fff;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	display: none;
}

.open-list-items {
	display: block;
}

.list-items .item {
	display: flex;
	align-items: center;
	list-style: none;
	height: 50px;
	cursor: pointer;
	transition: 0.3s;
	padding: 0 15px;
	border-radius: 8px;
}

.list-items .item:hover {
	background-color: #82acad;
}

.item .item-text {
	font-size: 16px;
	font-weight: 400;
	color: #333;
}

.item .checkbox {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 16px;
	width: 16px;
	border-radius: 4px;
	margin-right: 12px;
	border: 1.5px solid #c0c0c0;
	transition: all 0.3s ease-in-out;
}

.item.checked .checkbox {
	background-color: #007a7e;
	border-color: #007a7e;
}

.checkbox .check-icon {
	color: #fff;
	font-size:1rem;
	transform: scale(0);
	transition: all 0.2s ease-in-out;
}

.item.checked .check-icon {
	transform: scale(1.2);
}
.disable-table-row{
	opacity: 0.5;
	cursor: not-allowed;
	pointer-events: none;
}