/* h1 {
  width: 20%;
  height: 10%;
  left: 20%;
  top: 0px;
  font-family: "Roboto Serif";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  color: #072a3a;
} */

* {
  /* zoom: 90%; */
  /* background-color: #0a8b9c; */
}
.body {
  overflow: hidden !important;
}
.MuiTableContainer-root {
  height: 50%;
  overflow-y: auto !important;
}
.Modal {
  position: absolute;
  top: 70%;
  left: 50%;
  width: 200px;
  height: 500px;
}

.form-container .btn:hover,
.open-button:hover {
  opacity: 7;
}

.sideBarIcon {
  font-size: 170%;
  position: absolute;
  right: 10px;
  line-height: 2px;
  padding-left: 5px;
}

.form-popup {
  width: 370px;
  height: 750px;
  left: 100px;
}

.image {
  width: 100px;
  height: 50px;
  padding-top: 6%;
  padding-left: 26%;
}

.page {
  background-color: #efefef;
  max-width: 600px;
  padding: 60px;
  margin-left: 25%;
}

.nav {
  background-color: white;
  border-top-left-radius: 35px;
  width: 100%;
  height: 100%;
}

h3 {
  padding-left: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
}

.button1 {
  background-color: #002333;
  border: none;
  border-radius: 30px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 30rem;
}

.button {
  background-color: #002333;
  border: none;
  border-radius: 30px;
  color: white;
  margin-bottom: 10%;
  padding: 8px 30px;
  float: right;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.subDiv {
  top: 0;
  position: static;
  display: "inline-block";
  padding: "6px";
}

/* .table_container {
  overflow: auto;
  background-color: rgb(244, 243, 243);
  position: absolute;
  width: 78%;
  height: 82%;
  left: 20%;
  top: 15%;
  box-shadow: 0px 5px 10px rgba(0, 35, 51, 0.3);
  border-radius: 20px;
} */

.table_container {
  overflow: hidden;
  /* background-color: rgb(244, 243, 243); */
  position: absolute;
  width: 80%;
  /* height: 82%; */
  left: 20%;
  top: 11%;
  height: 800px;
  /* box-shadow: 0px 5px 10px rgba(0, 35, 51, 0.3);
  border-radius: 20px; */
}

/* .table_main_container {
  overflow: auto;
  background-color: rgb(244, 243, 243);
  position: absolute;
  width: 82%;
  height: 64%;
  left: 17.5%;
  top: 15%;
} */

.table_main_container {
  /* overflow: auto; */
  position: absolute;
  width: 79%;
  height: 64%;
  left: 20%;
  top: 10%;
}
/* .revenue_table_container {
  overflow: auto;
  background-color: rgb(244, 243, 243);
  position: absolute;
  width: 104%;
  left: -2%;
  height: 70%;
  top: 28%;
} */

.revenue_table_container {
  overflow: auto;
  /* background-color: rgb(244, 243, 243); */
  background-color: #ffff;

  position: absolute;
  width: 99%;
  /* left: -2%; */
  height: 80%;
  top: 21%;
}
.revenue_table_container::-webkit-scrollbar {
  width: 10px;
}
.revenue_table_container::-webkit-scrollbar-track {
  background-color: rgb(193, 191, 191);
}
.revenue_table_container::-webkit-scrollbar-thumb {
  /* background: #007a7e; */
  background: rgba(30, 68, 130, 1);
  border-radius: 25px;
}

table {
  overflow: visible !important;
  border-collapse: collapse;
  width: 99%;
  /* margin-left: 3%; */
}
#revenuetable {
  width: 50%;
}

.thadministration {
  font-family: Sans-serif;
  font-size: smaller;
  text-align: center;
  position: sticky;
  top: 0;
  color: black;
  padding: 8px;
  background-color: #23c5c7;
}
.trrevenue {
  border-radius: 30px;
  background-color: white;
  /* box-shadow: 0px 5px 10px rgba(0, 35, 51, 0.3); */
}
.trmilestone {
  background-color: white;
  box-shadow: 0px 5px 10px rgba(0, 35, 51, 0.3);
}
/* .rowtable {
  margin: 3%;
  border: 1px solid black;
  border-collapse: collapse;
} */
.rowtable {
  margin: 3%;
  border-right: 1px solid #0000004d;
  border-collapse: collapse;
}
.iconsColumn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4px;
}
.nestedtablebgrevenue {
  /* margin-top: 2%; */
  background-color: white;
  width: 100%;
}
.tdrevenue {
  text-align: right;
}

.threvenue {
  font-family: Sans-serif;
  border-collapse: collapse;
  /* position: sticky; */
  font-size: smaller;
  text-align: center;
  top: 0;
  color: black;
  padding: 8px;
  /* background-color: #23c5c7; */
  background-color: rgba(72, 130, 225, 0.3);
}
.threvenueposition {
  font-family: Sans-serif;
  font-size: small;
  text-align: center;
  top: 0;
  color: black;
  padding: 9px;
  /* background-color: #23c5c7; */
}
.revenueinput {
  margin-top: 11px;
  margin-right: 7px;
}
td {
  text-align: center;
  padding: 2px;
}
.grid-container {
  display: inline-grid;
  grid-template-columns: 50% 50% 50%;
}
.grid-item {
  grid-column-end: span 3;
}
.resoucegrid-container {
  display: inline-grid;
  grid-template-columns: 50% 50% 50% 50% 50% 50% 50%;
  grid-template-rows: auto;
  grid-column-end: span 3;
  gap: 3px 30px;
}

.tandmtr {
  background-color: white;
}
.required-field::after {
  content: "*";
  font-size: medium;
  color: red;
}
#revenue-select {
  width: 150px;
}
#revenueentry-select {
  width: 100px;
}
#revenueentry-input {
  width: 1000px;
  padding-left: 5px;
  margin-top: 2px;
}
#hidden {
  display: none;
}
tr:nth-child(even) {
  background-color: rgba(72, 130, 225, 0.1);
}
tr:nth-child(odd) {
  background-color: #ffffff;
}
label {
  font-size: small;
  font-weight: 550;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #7396db;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.selectrevenue {
  text-align: center;
  width: 20%;
  outline: none;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 0px 2px 5px grey;
  border: blue;
}
select {
  text-align: center;
  width: 144%;
  outline: none;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 0px 2px 5px grey;
  border: blue;
  font-family: "Roboto";
}
#milestoneselect {
  width: 108px;
  /* width: 50px; */
  background-color: white;
  border-radius: 0px;
  box-shadow: 0px 0px 0px 0px;
  padding: 0px;
}

.filter {
  /* padding-left: 4%; */
  /* padding-bottom: 1%; */
  margin-top: 5px;
  padding-left: 5px;
  font-size: 16px;
  font-weight: 400;
}
.MuiInputBase-input {
  box-shadow: none;
}

filter .dropdown {
  width: 53%;
  outline: none;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 0px 2px 5px grey;
  border: blue;
}

#filterSelect {
  width: 16%;
  border-radius: 15px;
  padding: 5px;
  margin-left: 0.5vw;
}

#filterButton {
  cursor: pointer;
  margin-bottom: 10px;
}
a:hover {
  cursor: pointer;
}
a {
  padding-left: 4px;
}
input {
  outline: none;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 0px 2px 5px grey;
  border: blue;
}
#milestoneinput {
  width: 98px !important;
  outline: none;
  border-radius: 0px;
  padding: 0px;
  box-shadow: 0px 0px 0px;
  border: blue;
}
#resourceinput {
  width: 110px !important;
  outline: none;
  border-radius: 0px;
  padding: 0px;
  box-shadow: 0px 0px 0px;
  border: blue;
}
#accordian {
  /* margin-left: -343px; */
  max-height: 240px;
  padding-bottom: 2px;
}
#accordianItem {
  width: 1px;
}
#accordianItemHeading {
  padding-top: 0.5px;
  width: 948px;
  height: 35px;
  text-align: center;
  background-color: rgba(225, 222, 222, 0.5);
}

.App-link {
  color: #61dafb;
}

.dropdown-content {
  margin-right: 10px;
  /* display: block; */
  /* position: absolute; */
  background-color: #f2fbff;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 9%;
  font-size: small;
  cursor: pointer;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #0a8b9c;
}

.show {
  display: block;
}

#inputID::placeholder {
  color: black;
  opacity: 95;
  font-size: small;
  text-align: center;
}

.css-yjx3o9-control,
.css-b62m3t-container input {
  box-shadow: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
